<div id="products" class="text-center bg-dark text-light has-height-md middle-items wow fadeIn">
    <h2 class="section-title">Nuestros productos</h2>
</div>

<div class="gallary row">
    <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
        <img src="assets/imgs/producto-1.jpg" class="gallary-img">
        <a routerLink="home" class="gallary-overlay">
            <i class="gallary-icon ti-plus"></i>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
        <img src="assets/imgs/producto-2.jpg"  class="gallary-img">
        <a routerLink="home" class="gallary-overlay">
            <i class="gallary-icon ti-plus"></i>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
        <img src="assets/imgs/producto-3.jpg"  class="gallary-img">
        <a routerLink="home" class="gallary-overlay">
            <i class="gallary-icon ti-plus"></i>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
        <img src="assets/imgs/producto-4.jpg"  class="gallary-img">
        <a routerLink="home" class="gallary-overlay">
            <i class="gallary-icon ti-plus"></i>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
        <img src="assets/imgs/producto-5.jpg" class="gallary-img">
        <a routerLink="home" class="gallary-overlay">
            <i class="gallary-icon ti-plus"></i>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
        <img src="assets/imgs/producto-6.jpg" class="gallary-img">
        <a routerLink="home" class="gallary-overlay">
            <i class="gallary-icon ti-plus"></i>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
        <img src="assets/imgs/producto-7.jpg" class="gallary-img">
        <a routerLink="home" class="gallary-overlay">
            <i class="gallary-icon ti-plus"></i>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
        <img src="assets/imgs/producto-8.jpg" class="gallary-img">
        <a routerLink="home" class="gallary-overlay">
            <i class="gallary-icon ti-plus"></i>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
        <img src="assets/imgs/producto-9.jpg" class="gallary-img">
        <a routerLink="home" class="gallary-overlay">
            <i class="gallary-icon ti-plus"></i>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
        <img src="assets/imgs/producto-10.jpg" class="gallary-img">
        <a routerLink="home" class="gallary-overlay">
            <i class="gallary-icon ti-plus"></i>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
        <img src="assets/imgs/producto-11.jpg" class="gallary-img">
        <a routerLink="home" class="gallary-overlay">
            <i class="gallary-icon ti-plus"></i>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
        <img src="assets/imgs/producto-12.jpg" class="gallary-img">
        <a routerLink="home" class="gallary-overlay">
            <i class="gallary-icon ti-plus"></i>
        </a>
    </div>
</div>

