<div id="combos" class="container-fluid bg-dark text-light py-5 text-center wow fadeIn">
    <h2 class="section-title py-5">Combos charcuteros</h2>
    <div class="row justify-content-center">
     
            <div class="col-sm-7 col-md-4 mb-5">
                <ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#foods" role="tab" aria-controls="pills-home" aria-selected="true">Charcuteria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#juices" role="tab" aria-controls="pills-profile" aria-selected="false">Mixtos</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="foods" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="row">
                        @for(combo of combos; track $index){
                            <div class="col-md-4">
                                <div class="card bg-transparent border my-3 my-md-0">
                                    <div class="card-img-top-container">
                                    <img [src]="combo.imageUrl" alt="imagen con comida" class="rounded-0 card-img-top mg-responsive">
                                    <i class="fas fa-shopping-cart cart-icon position-absolute" (click)="addToCart(combo)"></i>
                                </div>
                                <div class="card-body">
                                    <h1 class="text-center mb-4"><a class="badge badge-primary text-center" [routerLink]="['/cart']">{{ combo.price }}$</a></h1>
                                    <h4 class="pt20 pb20">{{ combo.name }}</h4>
                                    <p class="text-black text-center"> 
                                        @for(item of combo.description.split(','); track $index) {
                                            {{ item.trim() }}<br>
                                        }
                                    </p>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>

                <div class="tab-pane fade" id="juices" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="row">
                        @for(combo of mixedCombos; track $index) {
                            <div class="col-md-4 my-3 my-md-0">
                                <div class="card bg-transparent border">
                                    <img [src]="combo.imageUrl" alt="Imagen con comida" class="rounded-0 card-img-top img-responsive">
                                    <i class="fas fa-shopping-cart cart-icon position-absolute" (click)="addToCart(combo)"></i>
                                    <div class="card-body">
                                        <h1 class="text-center mb-4"><a class="badge badge-primary text-center" [routerLink]="['/cart']">{{ combo.price }}$</a></h1>
                                        <h4 class="pt20 pb20">{{ combo.name }}</h4>
                                        <p class="text-black text-center">
                                            @for(item of combo.description.split(','); track $index) {
                                                {{ item.trim() }}<br>
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            
        </div>
  </div>
</div>