<div id="combos" class="container-fluid bg-dark text-light py-5 text-center wow fadeIn">
    <h2 class="section-title py-5">Combos charcuteros</h2>
    <div class="row justify-content-center">
        <div class="col-sm-7 col-md-4 mb-5">
            <ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#foods" role="tab" aria-controls="pills-home" aria-selected="true">Charcuteria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#juices" role="tab" aria-controls="pills-profile" aria-selected="false">Mixtos</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="foods" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="row">
                <div class="col-md-4">
                    <div class="card bg-transparent border my-3 my-md-0">
                        <img src="assets/imgs/combo popular.jpg" alt="imagen con comida" class="rounded-0 card-img-top mg-responsive">
                        <div class="card-body">
                            <h1 class="text-center mb-4"><a href="#" class="badge badge-primary">7$</a></h1>
                            <h4 class="pt20 pb20">Combo popular </h4>
                            <p class="text-white">250gr .... Queso duro. <br>
                                                  250gr .... Jamon de pierna. <br>
                                                  250gr .... Salchicha polaca. <br>
                                                  100gr .... De tocineta. <br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-transparent border my-3 my-md-0">
                        <img src="assets/imgs/combo-extra.jpg" alt="imagen con comida" class="rounded-0 card-img-top mg-responsive">
                        <div class="card-body">
                            <h1 class="text-center mb-4"><a href="#" class="badge badge-primary">15$</a></h1>
                            <h4 class="pt20 pb20">Combo extra</h4>
                            <p class="text-white">500gr .... Queso duro. <br>
                                250gr .... Jamon de pierna. <br>
                                250gr .... Jamon de pavo. <br>
                                250gr .... Queso paisa. <br>
                                500gr .... Salchichas polaca. <br>
                                150gr .... De tocineta. <br></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-transparent border my-3 my-md-0">
                        <img src="assets/imgs/combo-millenium.jpg" alt="imagen con comida" class="rounded-0 card-img-top mg-responsive">
                        <div class="card-body">
                            <h1 class="text-center mb-4"><a href="#" class="badge badge-primary">17,50$</a></h1>
                            <h4 class="pt20 pb20">Combo millenium</h4>
                            <p class="text-white">500gr .... Queso duro. <br>
                                500gr .... Jamon de pierna. <br>
                                500gr .... Queso guayanes. <br>
                                250gr .... Queso paisa. <br>
                                250gr .... Queso amarillo. <br>
                                100gr .... De tocineta. <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="juices" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="row">
                <div class="col-md-4 my-3 my-md-0">
                    <div class="card bg-transparent border">
                        <img src="assets/imgs/combo-gran-caracas.jpg" alt="imagen con comida" class="rounded-0 card-img-top mg-responsive">
                        <div class="card-body">
                            <h1 class="text-center mb-4"><a href="#" class="badge badge-primary">29$</a></h1>
                            <h4 class="pt20 pb20">Combo Gran Caracas</h4>
                            <p class="text-white">500gr .... Queso duro. <br>
                                500gr .... Jamon de pierna. <br>
                                500gr .... Queso guayanes. <br>
                                500gr .... Queso paisa. <br>
                                250gr .... Jamon de pavo. <br>
                                500gr .... Queso amarillo. <br>
                                100gr .... De tocineta. <br>
                                1/2 .... Carton de huevo. <br>
                                1 .... Harina Pan. <br>
                                1 .... Mantequilla. <br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-3 my-md-0">
                    <div class="card bg-transparent border">
                        <img src="assets/imgs/combo-los-simbolos.jpg" alt="imagen con comida" class="rounded-0 card-img-top mg-responsive">
                        <div class="card-body">
                            <h1 class="text-center mb-4"><a href="#" class="badge badge-primary">32$</a></h1>
                            <h4 class="pt20 pb20">Combo los simbolos</h4>
                            <p class="text-white">1kg .... Queso duro. <br>
                                500gr .... Jamon de pierna. <br>
                                500gr .... Salcichas polacas. <br>
                                500gr .... Queso paisa. <br>
                                500gr .... Jamon de pavo. <br>
                                500gr .... Queso amarillo. <br>
                                1/2 .... Carton de huevo. <br>
                               
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-3 my-md-0">
                    <div class="card bg-transparent border">
                        <img src="assets/imgs/como-express.jpg" alt="imagen con comida" class="rounded-0 card-img-top mg-responsive">
                        <div class="card-body">
                            <h1 class="text-center mb-4"><a href="#" class="badge badge-primary">8,50$</a></h1>
                            <h4 class="pt20 pb20">Combo express</h4>
                            <p class="text-white">800gr .... Queso duro. <br>
                                1/2 .... Carton de huevo. <br>
                                1 .... Mortadela de pollo <b>400gr</b>. <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>