<div id="reviews" class="container-fluid wow fadeIn bg-dark text-light has-height-lg middle-items">
    <h2 class="section-title my-5 text-center">Publicidad</h2>
    <div class="row mt-3 mb-5">
        <div class="col-md-4 my-3 my-md-0">
            <div class="testmonial-card">
                <h3 class="testmonial-title">Abel Serra</h3>
                <h6 class="testmonial-subtitle">Frontend developer</h6>
                <div class="testmonial-body">
                    <p><i class="fab fa-html5"></i> HTML | <i class="fab fa-css3-alt"></i> CSS | <i class="fab fa-angular"></i> Angular</p>
                    <p>¡Transforma tu visión en una experiencia digital increíble! Diseño de sitios web modernos, rápidos y optimizados para todo tipo de dispositivos.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 my-3 my-md-0">
            <div class="testmonial-card">
                <h3 class="testmonial-title">Abel Serra</h3>
                <h6 class="testmonial-subtitle">Backend developer</h6>
                <div class="testmonial-body">
                    <p><i class="fab fa-python"></i> Python | <i class="fab fa-js-square"></i> JavaScript</p>
                    <p>Desarrollo aplicaciones backend escalables y eficientes utilizando <strong>Python</strong> para crear APIs robustas con frameworks como <strong>Django</strong> y <strong>Flask</strong>. <strong>JavaScript</strong> en el lado del servidor con <strong>Node.js</strong>. Me especializo en la gestión de bases de datos, implementación de seguridad en las aplicaciones, y optimización de procesos para garantizar un rendimiento superior.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 my-3 my-md-0">
            <div class="testmonial-card">
                <h3 class="testmonial-title">Abel Serra</h3>
                <h6 class="testmonial-subtitle">DevOps & Cloud</h6>
                <div class="testmonial-body">
                    <p><i class="fab fa-docker"></i> Docker | <i class="fab fa-aws"></i> AWS | <i class="fab fa-git"></i> Git</p>
                    <p>Implementación de pipelines de CI/CD y soluciones en la nube para garantizar despliegues rápidos y seguros. Optimizo la infraestructura para mejorar la disponibilidad y escalabilidad de tus aplicaciones.</p>
                </div>
            </div>
        </div>
    </div>
</div>
